.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.login-card {
  background-color: var(--surface-color);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--primary-color);
  margin-bottom: 12px;
}

.login-subtitle {
  font-size: 1rem;
  color: var(--text-color-light);
  margin-bottom: 32px;
}

.login-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Botões de teste */
.login-actions .btn {
  padding: 14px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-admin {
  background-color: var(--primary-color);
  color: white;
}
.btn-admin:hover {
  background-color: var(--primary-color-dark);
}

.btn-restaurant {
  background-color: var(--secondary-color);
  color: white;
}
.btn-restaurant:hover {
  background-color: var(--secondary-color-dark);
}

.btn-client {
  background-color: rgb(48, 60, 236);
  color: white;
}
.btn-client:hover {
  background-color: rgb(23, 30, 123);
}
